{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Race</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
		<link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
            integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
            crossorigin=""
        />
        <script
            src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>
        <script
            src="{% static "js/live_race.js" %}"
            type="text/javascript"
            language="javascript"></script>
        <link rel="stylesheet" href="{% static 'map.css' %}" />
    </head>
    <body>
        <p>Live Race View</p>
        <div id="map"></div>
        <script>establishMQTTConn("{{ mqtt_host }}", {{ mqtt_port }});</script>
    </body>
</html>
