{% load static %}
<!DOCTYPE html> 
<html> 
  <head> 
    <title>Boat Race</title>
    <link rel="icon" type="image/x-icon" href="{% static "logo.svg" %}">

    <link rel="stylesheet" charset="utf-8" href="{% static "css/leaflet.css" %}" />
    <script type="text/javascript" charset="utf-8" src="{% static "js/leaflet.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/leaflet.rotatedMarker.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/leaflet.vectorGrid.js" %}"></script>
    <!--https://github.com/openplans/Leaflet.AnimatedMarker-->
    <script type="text/javascript" charset="utf-8" src="{% static "js/boatmap.js" %}"></script>
    <script>
        function onLoad() {
            var sl = {{ object.start_line.json|safe }};
            loadRace("{{ object.uuid }}", "{% url "racetick" object.uuid %}", "{% static "" %}", sl.coordinates);
        }
    </script>  
  </head>
  <body onload="onLoad();" data-csrf="{{ csrf_token }}"> 
    <div id="map_node" style="height: 100vh;"></div>
  </body>
</html>
