{% extends "base.html" %}
{% load static %}
{% block title %}OTLE{% endblock %}
{% block content %}
<div
    id="application"
    mqtt-host="{{ mqtt_host }}"
    mqtt-port={{ mqtt_port }}
    mqtt-username="{{ mqtt_username }}"
    mqtt-password="{{ mqtt_password }}"
>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'webpack/js/vendors.js' %}"></script>
<script src="{% static 'webpack/js/otle.js' %}"></script>
{% endblock %}
