{% extends "base.html" %}
{% load static %}
{% block title %}Regatta {{ regatta.name }}{% endblock %}
{% block styles %}
<link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""
/>

<link rel="stylesheet" href="{% static 'map.css' %}" />
{% endblock %}

{% block js_libraries %}
<script
    src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
<script
    src="{% static 'js/rotatedMarker.js' %}"
    type="text/javascript"
    language="javascript"></script>
<script
    src="{% static 'js/utm.js' %}"
    type="text/javascript"
    language="javascript"></script>

<script
    src="{% static 'js/live_race.js' %}"
    type="text/javascript"
    language="javascript"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"
    type="text/javascript"></script>
<!--https://github.com/openplans/Leaflet.AnimatedMarker-->
{% endblock%}

{% block content %}
<h1>{{ regatta.name }}</h1>
<small>Regatta</small>
<div id="application">
</div>
<div id="map"></div>
<div id="timer"></div>
{% endblock %}

{% block scripts %}
<script>
    initializeApp(
        "application",
        "{{ regatta.uuid }}",
        "{{ mqtt_host }}",
        {{ mqtt_port }}
    );
</script>
{% endblock%}
