input
  border-radius: 0px

input[type]
  -webkit-appearance: None

.otle-button
  -webkit-appearance: None
  appearance: None
  padding-left: 1em
  padding-right: 1em
  margin-left: 2em
  margin-right: 2em
  padding-top: 1em
  padding-bottom: 1em
  background: white
  border: 1px solid #000
  color: #000
  font-weight: bold

.boat-status-icon
  appearance: None
  background: white
  border: 1px solid #000
  color: #000
  max-width: 4em

.status-bar

  ul
    margin: 0
    padding: 0
    list-style: none
    border: 1px solid #000

  li
    text-align: center
    border-bottom: 1px solid #000

    &:last-child
      border-bottom: None

    a
      display: block
      padding: 1em 16px
      text-decoration: none
      color: #000

.boattable
  ul
    margin: 0 auto
    text-align: center
  li
    display: inline-block
    vertical-align: top


.placeholder
  justify-self: end

.control-bar
  border: 1px solid #000

.timer
  display: inline-block
  margin-left: 1em
  color: #fffe02
  background: #2a6d9e
  h3
    padding: 1em

.ocs-background
  background: #f5c3c8

.critical-background
  background: #fffec2

.good-background
  background: #e5fcc3

.full-width
  width: 100%
  display: block
  text-align: center

  .timer
    margin-left: 0
    width: 100%
    font-size: 3em
    h3
      padding: 0
