{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}OTLA{% endblock title %}</title>
        {% block styles %}
        <link rel="stylesheet" href="{% static 'webpack/css/otle.css' %}">
        <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
            integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
            crossorigin=""
        />
        {% endblock styles %}
        {% block js_libraries %}
        {% endblock js_libraries %}
    </head>
    <body>
        <main>
            {% block content %}{% endblock content %}
        </main>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>
